beautifulsoup4
certifi
chardet
Click
coverage
Cython
ftfy
html5lib
idna
lxml
metadata-parser
nose
numpy
pandas
python-dateutil
pytz
requests
requests-toolbelt
scikit-learn
scipy
six
soupsieve
tqdm
urllib3
wcwidth
webencodings
dragnet